h2 {
  color: #fdf485;
  font-size: 24px;
  text-align: center;
}

p {
  margin-bottom: 10px;
}

h3 {
  line-height: 1.5;
}

.title {
  margin-bottom: 10px;
}

.sub-title {
  font-size: 16px;
  margin: 5px 0;
  text-align: center;
}

.sub-title a {
  color: #00bfa8;
  font-weight: bold;
  text-decoration: underline;
}

.usage {
  margin: 0 auto;
  padding-bottom: 100px;
  width: 900px;
}

pre,
code {
  background-color: #2b2b2b;
  border-radius: 4px;
  color: #ac8053;;
}

h3 code,
p code {
  padding: 3px;
}

code i,
.important {
  color: #e5d404;
}

.optional {
  font-size: 14px;
}