body {
    background: #E9E9E9;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #424242;
}

#flow {
    position: relative;
    margin: 0 auto 100px;
    width: 900px;
    padding: 0 30px;
    overflow: hidden;
}

.reverted {
    background: #424242;
    color: #E9E9E9;

    padding: 3px 5px 3px 5px;
}

h1 {
    padding-bottom: 20px;
    border-bottom: 2px solid #424242;
    margin-bottom: 0;
}

h2 {
    margin-top: 100px;
    margin-bottom: 50px;
}

a {
    color: #424242;
    font-weight: normal;
    text-decoration: none;
    border-bottom: 1px solid #9b9b9b;
}

a:hover {
    border-bottom: 1px solid #424242;
}

p, dd, li {
    line-height:150%;
}

p:first-letter {
    margin-left: 15px;
}

p.warn {
    padding-left: 40px;
    margin-bottom: 25px;
    background: url('error.png') no-repeat 5px center;
    min-height: 26px;
}

p.warn:first-letter {
    margin-left: 0;
}

a:visited {
    text-decoration: none;
}

a.internal {
    border-bottom-style: dashed;
}

p.advert {
    margin-top: 10px;
    text-align: right;
}

div.links {
    margin: 100px 0 100px 0;
    text-align: center;
}

a.button {
    font-size: 18px;
    border: 1px solid #9b9b9b;
    padding: 10px 10px 10px 40px;
    border-radius: 5px;
    margin-right: 10px;
}

a.button:hover {
    border: 1px solid #424242;
}

a.execute {
    border-style: dashed;
    float: right;
    background: url('play.png') no-repeat 5px center;
}

a.execute:hover {
    border-style: dashed;
}

a.download {
    background: url('down_circular.png') no-repeat 5px center;
}

a.fork_me {
    background: url('github.png') no-repeat 5px center;
}

ul {
    list-style-type: disc;
}

li {
    margin-bottom: 5px;
}

ul.example {
    margin-top: 50px;
    margin-bottom: 30px;
    list-style-type: none;
}

ul.example span.lang {

}

ul.example li:before, dl.options span.default:before {
    background: #424242;
    color: #E9E9E9;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
}

dl.options {
    margin-bottom: 50px;
}

dl.options dt {
    font-weight: bold;
    margin-top: 15px;
}

dl.options dd {
    margin-top: 10px;
    margin-bottom: 10px;
}

dl.options span.default:before {
    content: 'default: ';
}

dl.options span.default {
    float: right;
    min-width: 200px;
}

ul.example li {
    margin-bottom: 30px;
}

ul.example li.html:before {
    content: 'html';
}

ul.example li.css:before {
    content: 'css';
}

ul.example li.js:before {
    content: 'js';
}

ul.example li code {
    border-left: 1px solid #9b9b9b;
    display: block;
    padding-left: 20px;
    margin-top: 15px;
    line-height:150%;
}

ul.example li code i {
    color: #9b9b9b;
}

ol.callback-chain {
    margin-bottom: 50px;
}

/* *************************************************************
 * Examples
   ************************************************************* */
.ow-overlay, .custom-overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #424242;
    opacity: 0.8;
}

.custom-overlay {
    background: #a52a2a;
}

.ex1-modal, .ex2-modal, .ex3-modal, .ex6-modal, .ex8-modal  {
    display: block;
    position: fixed;
    z-index: 20;
    top: 50px;
    left: 50%;
    background: white;
    height: 300px;
    width: 300px;
    text-align: center;
    border: 1px solid #000000;
}

.ex2-modal {
    color: #a52a2a;
    border-color: #a52a2a;
}

.ow-closed, .custom-overlay-closed, .custom-modal-closed {
    display: none;
}

.ex3-modal a.close-button {
    float: right;
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    color: #a52a2a;
    border: 1px solid #a52a2a;
}

.ex8-modal input {
    border: 1px solid #424242;
    font-size: 20px;
    padding: 5px;
    margin-top: 100px;
}

.ex8-modal div.error {
    margin-top: 10px;
    color: #a52a2a;
}


